@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#120f10] text-neutral-200
  }
  option {
    @apply bg-stone-800
  }
}

@layer components {
  .create-post-form {
    @apply flex flex-col space-y-5 md:mx-2
  }

  .create-post-form input,
  .create-post-form textarea {
    @apply flex p-2 w-full rounded-md bg-neutral-600 outline-none
  }
}

@layer components {
  .markdown {
    @apply mx-auto;
  }

  .markdown p {
    @apply my-4 leading-normal text-neutral-300;
  }

  .markdown ul {
    @apply my-4 ml-6 list-disc;
  }

  .markdown ol {
    @apply my-4 ml-6 list-decimal;
  }

  .markdown li {
    @apply py-1;
  }

  .markdown a {
    @apply text-blue-400 underline;
  }

  .markdown strong {
    @apply font-semibold text-neutral-200;
  }

  .markdown em {
    @apply italic text-neutral-300;
  }

  .markdown del {
    @apply line-through text-neutral-400;
  }

  .markdown u {
    @apply underline;
  }
  .markdown h1 {
    @apply my-4 leading-normal text-neutral-300 text-xl;
  }
  
  .markdown h2 {
    @apply my-4 leading-normal text-neutral-300 text-lg;
  }
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  5% { transform: rotate(-10deg); }
  10% { transform: rotate(10deg); }
  15% { transform: rotate(-10deg); }
  20% { transform: rotate(10deg); }
  25% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.wave {
  display: inline-block;
  animation: wave 3s infinite ease-in-out;
  transform-origin: 70% 70%;
}
